<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>PRODUCTOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class= "ion-text-center" color="success">
    <h1>Presione una imagen para saber mas del producto</h1>
  </ion-text>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let item of productos">
        <ion-card (click)="sonido(item)">
          <ion-img [src]="item.url"></ion-img>
          <ion-card-header>
            <h1 class= "ion-text-center">{{item.nombre}}</h1>
          <ion-card-subtitle>
            <h5 class= "ion-text-center">{{item.descripcion}}</h5>
          </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
