<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons >
    <ion-title>INFORMACION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card class="coworker-card">
    <img src="/assets/granja.jpg" class="header-img"/>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="call" slot="start"></ion-icon>
          <ion-label>
            <h2>(81) 2227-3647</h2>
            <p>Telefono</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
          <ion-label>
            <h2>(81) 9645-2548</h2>
            <p>Celular</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-label>
            <h2>granjaC@hotmail.com</h2>
            <p>Email de trabajo</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-label>
            <h2>eduardo1@gmail.com</h2>
            <p>Email personal</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
