<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="success">
        <ion-avatar>
          <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg"> 
        </ion-avatar>
        <ion-title>MENU</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content fullscreen={true}>
      <ion-list>
        <ion-item [routerLink]="['/productos']">
          <ion-icon name="basket-outline" slot="start"></ion-icon>
          <ion-label>PRODUCTOS</ion-label>
        </ion-item>
        <ion-item [routerLink]="['/cupones']">
          <ion-icon name="ticket-outline" slot="start"></ion-icon>
          <ion-label>CUPONES</ion-label> 
        </ion-item>
        <ion-item [routerLink]="['/ubicacion']">
          <ion-icon name="navigate-outline" slot="start"></ion-icon>
          <ion-label>UBICACION</ion-label>
        </ion-item>
        <ion-item [routerLink]="['/informacion']">
          <ion-icon name="information-circle-outline" slot="start"></ion-icon>
          <ion-label>INFORMACION</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main">
    <ion-content class="ion-padding">
      <ion-menu-toggle>
        <ion-header>
          <ion-icon name="menu-outline"></ion-icon>
        </ion-header>
      </ion-menu-toggle>
      <ion-text class= "ion-text-center" color="primary">
        <h1>BIENVENIDOS A MI APLICACION DE GRANAJA</h1>
      </ion-text>
 
        <ion-card>
          <img src="https://www.informador.mx/__export/1506058641276/sites/elinformador/img/historico/10/959641.jpg_788543494.jpg" />
          <ion-card-header>
            <ion-card-title>Introduccion</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Esta aplicacion fue creada para que mis clientes pudedan ver lo que vendo en mi granja.

En la parte superor izquierda podran ver unas lineas, si presionan ese icono les mostrara el menu.

Espero que sea de su agrado la aplicacion y si tienen alguna duda pueden buscarme en la seccion de informacion
          </ion-card-content>
        </ion-card>
        <ion-card>
          <img src="/assets/granjero.png" />
          <ion-card-header>
            <ion-card-subtitle>Sobre mi</ion-card-subtitle>
            <ion-card-title>Eduardo, Cantú</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Eduardo Cantu  nació el 12 de octubre  del 1962, tiene 60 años y reside en el Barrio Pueblo nuevo de Liberia, Guanacaste, Costa Rica; padre de 3 hijos. Es un padre ejemplar, trabajó la tierra desde muy temprana edad, recuerda con gran claridad que a la edad de 7 años acompañaba a su padre al trabajo, llevando consigo, su machete, su lima y sus caites como implementos de trabajo.
      
      Decía su padre que el que trabajaba la tierra era hombre, para su padre era orgullo cultivar la tierra. Recuerda que su papá salía a las 4 de la mañana a cultivar la tierra, pero en una forma rústica, usando un " espeque " y un "jicarón " o "churuco " atado a la cintura como se puede observar en la foto.
      
      Menciona Eduardo que fue creciendo en el ceno de esa gran familia, que tenía esa gran vocación de amar la tierra; esa tierra que les daba el sustento diario, sembrando tomate, lechuga, pepino, manzana, naranjas y otras cosas que recuerda
          </ion-card-content>
        </ion-card>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
          <ion-icon name="flashlight-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-content>
  </div>
</ion-app>
